################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/App/Buhgaltery/.vs/Buhgaltery
/App/Buhgaltery/Common/obj
/App/Buhgaltery/Deployer/obj
/Docs/TechTask/0.0.1/~$chTask 0.0.52.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.48.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.43.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.38.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.30.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.26.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.18.docx
