################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/App/Buhgaltery/.vs/Buhgaltery
/App/Buhgaltery/Common/obj
/App/Buhgaltery/Deployer/obj
/Docs/TechTask/0.0.1/~$chTask 0.0.52.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.48.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.43.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.38.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.30.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.26.docx
/Docs/TechTask/0.0.1/~$chTask 0.0.18.docx
/App/Buhgaltery/Buhgaltery.DbClient/obj
/App/Buhgaltery/Buhgaltery.Desktop/obj
/App/Buhgaltery/Buhgaltery.Db/obj
/App/Buhgaltery/Buhgaltery.Contract/obj
/App/Buhgaltery/Buhgaltery.ClientHttpClient/obj
/App/Buhgaltery/Buhgaltery.ClientHttpClient/bin/
/App/Buhgaltery/Buhgaltery.Contract/bin/
/App/Buhgaltery/Buhgaltery.Db/bin/
/App/Buhgaltery/Buhgaltery.DbClient/bin/
/App/Buhgaltery/Buhgaltery.Desktop/bin/
/App/Buhgaltery/Common/bin/
/App/Buhgaltery/Deployer/bin/
/App/Buhgaltery/Buhgaltery.Services/bin/Debug/net5.0
/App/Buhgaltery/Buhgaltery.Services/obj
/App/Buhgaltery/Buhgaltery.Desktop.UnitTests/bin/Debug
/App/Buhgaltery/Buhgaltery.Desktop.UnitTests/obj
/App/Buhgaltery/Buhgaltery.Desktop.Services/obj
/App/Buhgaltery/Buhgaltery/Logs
/App/Buhgaltery/Buhgaltery/ClientApp/.angular/cache/13.2.4
/App/Buhgaltery/Buhgaltery.App
